name: Frontend Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install
        working-directory: customer-support-frontend

      - name: Build frontend
        run: npm run build
        working-directory: customer-support-frontend

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo rm -rf /usr/share/nginx/html/*
            sudo cp -r ~/customer-support/customer-support-frontend/dist/* /usr/share/nginx/html/
            sudo chown -R nginx:nginx /usr/share/nginx/html
            sudo systemctl reload nginx
