name: Deploy Fullstack App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/customer-support || exit

            # This fixes the "Aborting" error you sent
            git fetch origin main
            git reset --hard origin/main
            git clean -fd

            # --- BACKEND ---
            cd customer-support-chat-backend
            npm install
            pm2 restart chat-backend --update-env || pm2 start index.js --name "chat-backend"

            # --- FRONTEND ---
            cd ../customer-support-frontend
            npm install
            rm -rf dist
            npm run build
            pm2 restart vite-frontend || pm2 serve dist 5173 --name "vite-frontend" --spa
